*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    height: 100vh;
    width: 100%;
}

.links_head{
    background-color: rgb(246, 246, 246);
    padding: 20px;
    width: 100%;
}

.head_links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 65%;
/* background-color: blue; */
}

#sign_in{
    background-color: rgba(35, 121, 250, 0.879);
    padding: 10px 25px;
    border-radius: 4px;
    color: white;
}

.link{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: black;
}
.google{
    text-align: center;
    /* height: 50px; */
    /* width: 100%; */
    /* background-color: blue; */
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 70px 0px 10px 0px;
}

.blue{
    color: rgba(35, 121, 250, 0.879);
}
.red{
    color: rgb(213, 32, 0);
}
.yellow{
    color: rgb(255, 196, 0);
}
.green{
    color: rgb(14, 131, 14);
}

.search>input{
    display: flex;
    width: 40%;
    height: 20px;
    border-radius: 40px;
    text-align: left;
    padding: 10px 40px;
    justify-content: center;
    border-style: solid;
    border-color: rgb(15, 3, 63);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.button{
    display: flex;
    margin: 20px 0px 20px 0px;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* text-align: center; */
}

.button input,button{
    padding: 5px 10px;
    font-weight: 500;
}

.languages>p{
    padding: 20px 0px 70px 0px;
    text-align: center;
    /* background-color: red; */
}

footer{
    background-color: rgb(246, 246, 246);
    padding: 20px 0px 20px 20px;
    margin-top: 70px;
}

#Nigeria{
    padding-bottom: 30px;
    /* background-color: black; */
}

.footer_links{
    text-align: center;
    text-decoration: none;
    /* display: none; */
}